
#books-form-container {
    background-color: lightgray;
    padding: 10px;
} 

#books-form-container .btn {
    margin-left: 15px;
}

.app-messages {
    padding: 10px 10px 10px 20px;
    font-weight: bold;
}

.success-message {
    color: green;
}